.del1 {
    background-color: #FCA6D1;
    color: #0F5B0B;
    height: 310px;
    width: 1920px;
    position: absolute;
    top: 0%;
    left: 0%;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    justify-content:center;
    text-align: center;
    left:1%;
    width: 1900px;
}

univ {
    font-size: larger ;
    position: relative;
    justify-content:center;
    left:1%;
    width: 1900px;
    text-align: center;
}

wcag {
    font-size: larger;
    position: relative;
    left:1%;
    width: 1900px;
    text-align: center;
}

.del2 {
    background-color: #5C3205;
    color: #B1D6FC;
    height: 310px;
    width: 1920px;
    position: absolute;
    top: 32.9%;
    left: 0%;
}

kons {
    font-size: larger;
    position: relative;
    left:1%;
    width: 1900px;
    text-align: center;
}

.del3 {
    background-color: #F0F390;
    color: #871490;
    height: 310px;
    width: 1920px;
    position: absolute;
    top: 66.2%;
    left: 0%;
}

prim {
    font-size: larger;
    position: relative;
    left:1%;
    width: 1900px;
    text-align:center;
}